body {
  background: lightblue;
  padding: 0px;
  font: 14px "Georgia", Helvetica, Arial, sans-serif;
}

a {
  color: #001937;
}

.content {
  padding-top: 20px;
  padding-right : 40px;
  padding-left : 40px;
}

.pageTitle {
  font-size: 25px;
}

.intro {
  font-size: 20px
}


.blog-list {
  max-width: 700px;
  margin: 20px auto 20px 5px;
}


.blog-entry {
  background: white;
  border: 1px solid #dee2e6;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.blog-entry-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.blog-entry-content {
  font-size: 1em;
  margin-bottom: 10px;
}

.blog-entry-date {
  font-size: 0.85em;
  color: #6c757d;
}

.blog-entry-icons {
  display: flex;
  justify-content: flex-end;
}

.blog-entry-icons a {
  color: #001937;
  text-decoration: none;
  margin-left: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #001937;
  border-color: #001937;
}

.btn-primary:hover {
  background-color: #001930;
  border-color: #000000;
}

