<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = "navBar">
        <a class="active" href="#home">Home</a>
        <a href="blogAdd">Blog Add</a>
        <a href="blogList">Blog List</a>
      </div>
    <h1><%= title %></h1>
    <p>Under Construction</p>
  </body>
</html>